[submodule "packages/todo"]
	path = packages/todo
	url = https://github.com/MrXnneHang/Streamlit-To-Do-List.git
[submodule "packages/yutto-uiya"]
	path = packages/yutto-uiya
	url = https://github.com/XnneHangLab/yutto-uiya.git
[submodule "examples"]
	path = examples
	url = https://github.com/MrXnneHang/Subtitle-Generator-Examples.git
[submodule "static"]
	path = static
	url = https://github.com/XnneHangLab/VtuberLabStatic.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/XnneHangLab/Open-LLM-VTuber-Web.git
[submodule "packages/Qwen3-ASR"]
	path = packages/Qwen3-ASR
	url = https://github.com/XnneHangLab/Qwen3-ASR.git
[submodule "packages/Genie-TTS"]
	path = packages/Genie-TTS
	url = https://github.com/XnneHangLab/Genie-TTS.git
	branch = master
