[submodule "packages/todo"]
	path = packages/todo
	url = https://github.com/MrXnneHang/Streamlit-To-Do-List.git
[submodule "packages/yutto-uiya"]
	path = packages/yutto-uiya
	url = https://github.com/XnneHangLab/yutto-uiya.git
[submodule "examples"]
	path = examples
	url = https://github.com/MrXnneHang/Subtitle-Generator-Examples.git
[submodule "static"]
	path = static
	url = https://github.com/XnneHangLab/VtuberLabStatic.git
[submodule "packages/bert-vits"]
	path = packages/bert-vits
	url = https://github.com/XnneHangLab/Bert-VITS2.3-Inference.git
[submodule "packages/gpt_sovits"]
	path = packages/gpt_sovits
	url = https://github.com/XnneHangLab/GPT-SoVITS-Inference.git
